.composition{
    position: relative;
    &-img{
        width:60%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
        position: absolute;
        transition: all .4s ease-in-out;
        &-1{
            left:0;
            top:-2rem
        }
        &-2{
            right:0;
            top: 2rem;
        }
        &-3{
            left: 20%;
            top:10rem
        }
        &-img:hover,
        &-img:focus{
            transform: scale(1.1);
            z-index: 10px;
            outline:15px solid $color-primary;
            box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .2);
        }
    }
    &:hover,
    &:focus{
        transform: scale(.9);

    }
}